body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.main-design {
  padding-left: 25px;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* /* border: 1px solid black; / */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.product {
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(234, 248, 252);
}
.single-product {
  height: 500px;
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 10px 10px 10px rgb(148, 148, 148);
  border-radius: 10px;
  border: 1px solid rgb(41, 46, 46);
  background-color: rgb(210, 229, 241);
}
.product-image {
  width: 150px;
  height: 150px;
}
.rating {
  margin-left: 15px;
}
.cart {
  width: 350px;
  border: 1px solid green;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    border: 1px solid green;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
